*.*.*sw*
*.class
*/bin/*
*.class
*/bin/*
.project
.classpath
.settings
.checkstyle
.idea
*.jar
target
reports
arq-perf
.pmd
*.ser
*.orig
*.versionsBackup
*.iml
AlarmRoutingService-ear/AlarmRoutingService*/*
